{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
    <title>Exhibit search</title>
    <link rel="stylesheet" type="text/css" href={% static 'stylesheet.css' %} />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>

</head>

<body>
<h1> Exhibit search </h1>
<div id="desc">
	<p>
        Search for museum exhibits based with a museum search and a keyword search.
    </p>
	<p>
        Check off the museums you would like to search through, and type in some keywords to search by. Your results will be displayed below.
    </p>
    <p>
        Click "Similar Exhibits" to find the exhibits most similar to that exhibit
    </p>
</div>

<form>
	{{form}}
	<input type='submit' Label ='search' value = 'submit'>
</form>

<div>
    {% if result != None %}
        <h2>
                Results: 
        </h2>
        <ul>
            {% for url,title, similars, date in result %}
                <a class="ex_info" href={{url}}>
                    
                    <p class="ex_title"> {{title}} </p>
                    <p> {{date}}</p>

                </a>
                <button class="to_reveal">Similar Exhibits</button>
                <ul class="reveal" >
                    {% for s in similars %}
                    <a href = {{s.0}}> <li class="sim_ex"> {{s.1}} </li></a>
                    {% endfor %}
                </ul>
                <hr>
            {% endfor %}
        </ul>
    {% endif %}
</div>


</body>
<script type="text/javascript" src={% static "script.js"%}></script>
</html>
