<html>
<head>
    <link href="{{ STATIC_URL }}stylesheet.css" rel="stylesheet" type="text/css" />
</head>

<body>
<h1> Exhibit search </h1>

<div id="desc">
	<p>Search for museum exhibits based with a museum search and a keyword search.</p>
	<p>Check off the museums you would like to search through, and type in some keywords to search by. Your results will be displayed below.</p>
</div>

<form>
	{{form}}
	<input type='submit' Label ='search' value = 'submit'>
</form>

<div id="results">
    {% if result != None %}
        <h2>
                Results: 
        </h2>
        <ul>
            {% for (link,result) in result %}
                <li href={{link}}> {{result}} </li>
            {% endfor %}
        </ul>
    {% endif %}
</div>
</body>
</html>